<div class="card padding margin-top">
  <%= form_with(model: list) do |form| %>
    <% if list.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(list.errors.count, "error") %> prohibited this list from being saved:</h2>
  
        <ul>
          <% list.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <h1 class="field">
      <%= form.text_field :name %>
    </h1> 
  
    <%if @works != nil %>
      <% @works.each do |work| %>
        <% if work.check == false %>
        <div class="field">
          <%= form.check_box :checks_elements, checked:work.check %>
          <%= form.text_field :work_title, value:work.title %>
          <%= link_to 'X', destroy_work_url(list,work), method: :delete %>
        </div>
        <% end %>
      <% end %>
      <%= link_to "Agregar Tarea", new_work_url(@list) %>
      <% @works.each do |work| %>
        <% if work.check == true %>
        <div class="field">
          <%= form.check_box :checks_elements, checked:work.check %>
          <%= form.label :work_title, value:work.title, class: "tachado" %>
          <%= link_to 'X', destroy_work_url(list,work), method: :delete %>
        </div>
        <% end %>
      <% end %>

    <%end%>
         
  
    <p></p>
    <div class="actions">
      <%= form.submit "Guardar Lista", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>